.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  position: relative;
  z-index: 9;
  width: 100%;
}

@media (max-width: 600px) {
  .topbar__title {
    font-size: 13px;
  }
}
